* {
    box-sizing: border-box;
  }

#container {
    margin: 25px 20%;
    width: 60%;
    height: 650px;
    background-color: pink;
    display: flex;
    flex-flow: row wrap;
}

.gridRow {
    margin: 0 auto;
    width: 100%;
    /* flex: 1 0 auto; */
    height: auto;
    overflow:hidden;
    display: flex;
    flex-flow: column wrap;
}
.gridDiv {
    margin: 0 0;
    width: auto;
    /* flex: 1 0 auto; */
    height: 100%;
}

.block-selected {
    background-color: black;
}