* {
    box-sizing: border-box;
  }

body {
  text-align: center;
}

h1 {

    font-family: 'Kaushan Script', cursive;
    font-size: 100px;
    margin: 0 auto;
    
}

#container {
    margin: 95px auto 50px auto;
    width: 600px;
    height: 475px;
    background-color: pink;
    display: flex;
    flex-flow: row wrap;
}

.gridRow {
    margin: 0 auto;
    width: 100%;
    height: auto;
    overflow:hidden;
    display: flex;
    flex-flow: column wrap;
}
.gridDiv {
    margin: 0 0;
    width: auto;
    height: 100%;
}

.block-selected {
    background-color: black;
}

button {
    margin: 0 20px;
    width: 150px;
    height: 65px;
    background: none;
	color: inherit;
	border: solid 1px black;
    font-family: 'Kalam', cursive;
    font-size: 24px;
	cursor: pointer;
	outline: inherit;
}